# Ignore the strings.xml file
app/src/main/res/values/strings.xml

# Android specific files to ignore
/.gradle
/local.properties
/.idea
.DS_Store
/build
/captures

# Ignore Gradle-specific files
.gradle/
/build/
/app/build/

# Ignore generated code and lint files
/generated/
/app/src/debug/
/app/src/test/
/app/src/androidTest/
/build/intermediates/
/build/generated/

# Ignore log files and crash reports
*.log
crashlytics.properties

# Ignore IntelliJ specific files
*.iml
.idea/

# Ignore keystore files
*.keystore
