<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/equi_pay"
        android:label="@string/app_name"
        android:roundIcon="@drawable/equi_pay"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitWise"
        tools:targetApi="31">
        <activity
            android:name=".DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGroup"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/fb_client_token" />
        <!--
 Uncomment this if you are using FacebookActivity
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        -->
        <activity
            android:name=".PaymentOptionsPage"
            android:exported="true" />
        <activity
            android:name=".SettleUpPage"
            android:exported="false" />
        <activity
            android:name=".UserOweInGroupActivity"
            android:exported="false" />
        <activity
            android:name=".AddFriend"
            android:exported="false" />
        <activity
            android:name=".ExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".FriendsListActivity"
            android:exported="false" />
        <activity
            android:name=".friendsActivity"
            android:exported="false" />
        <activity
            android:name=".GroupsActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>